/*Hauptelemente START*/

body {
    color: #fff;
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
}

.headtitel {
    color: #5f9ea0;
}

p,
h1 {
    color: #ffffff;
    text-shadow: 0px 0px 2px black;
}


/*Hauptelemente END*/


/*OVERLAY PATTERN START*/

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.4);
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}


/*OVERLAY PATTERN END*/


/*CSS-Bereich START*/

section {
    padding: 200px 0;
    text-align: center;
    min-height: 110vh;
}

section:last-of-type {
    padding-bottom: 300px;
}

.bg-dark {
    color: #fff;
    background: rgba(0, 0, 0, 0.8) !important;
}


/*CSS-Bereich END*/


/*Navigation START*/

.navbar-nav li a {
    border-radius: 30px;
    transition: all 0.5s ease-in;
}

.navbar-nav li.active a {
    background: #5f9ea0;
    color: #fff !important;
}


/*Navigation END*/


/*Butten Style START*/

.btn-theme {
    background-color: #5f9ea0;
    border: none;
    color: #fff;
}

.color-theme {
    color: white;
}

#home-slides {
    margin: 30px 0;
}

.subtitel {
    display: block;
    width: 60%;
    position: relative;
    margin: 0 auto;
    padding-top: 100px;
}

.btn-next {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    color: #ccc;
    font-size: 30px;
    line-height: 50px;
    margin: 20px auto;
    animation: blink 1s ease-in-out alternate infinite;
}

.btn-next:hover {
    color: #fff;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/*Butten Style END*/

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px "Oswald", sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
}


/* Kontaktformular START */

.form-horizontal {
    max-width: 400px;
    font-family: "Lato";
    font-weight: 400;
}

.form-control,
textarea {
    max-width: 400px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
    font-family: "Oswald", sans-serif;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    background-color: #5f9ea0;
    transition: all 0.2s ease-in-out;
}

.alt-send-button {
    width: 400px;
    height: 34px;
    transition: all 0.2s ease-in-out;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 14px "Lato", sans-serif;
    letter-spacing: 2px;
    color: white;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
}

.direct-contact-container {
    max-width: 400px;
}

.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 20px "Lato", sans-serif;
    letter-spacing: 1.9px;
    color: #ffffff;
    text-shadow: 0px 0px 2px black;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: #ffffff;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #fff;
    text-decoration: none;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    max-width: 840px;
}

input[type="email"]::placeholder {
    font-family: "Oswald", sans-serif;
}

input[type="text"]::placeholder {
    font-family: "Oswald", sans-serif;
}


/*Kontaktformular END*/


/*SocialMedia START*/

.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: #fff;
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(95, 158, 160);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #fff;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: #000;
}

.copyright {
    font: 200 14px "Oswald", sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0px 0px 2px black;
}

hr {
    border-color: rgba(255, 255, 255, 0.6);
}


/*SocialMedia END*/


/*MediaQueries START*/

@media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }
    .direct-contact-container,
    .form-horizontal {
        margin: 0 auto;
    }
    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }
    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {
    .direct-contact-container,
    .form-wrapper {
        float: none;
        margin: 0 auto;
    }
    .form-control,
    textarea {
        margin: 0 auto;
    }
    .name,
    .email,
    textarea {
        width: 280px;
    }
    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }
    .social-media-list {
        left: 0;
    }
    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }
    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
}

@media (max-width: 768px) {
    section:first-of-type {
        padding-top: 60px;
    }
    .navbar-nav {
        padding: 0px;
    }
    .navbar-nav li a {
        padding-left: 20px !important;
    }
    h1 {
        font-size: 20px !important;
    }
    p {
        overflow: scroll;
    }
}

@media (min-width: 768px) {
    section:first-of-type {
        padding-top: 100px;
    }
    .navbar-theme {
        background: none !important;
    }
    .navbar-brand {
        display: none;
    }
    .navbar-nav li a {
        color: #fff;
        margin: 0;
        padding: 10px 20px !important;
    }
}


/*MediaQueries END*/